.Navigation {
	display: flex;
	background: rgba(164, 2, 143, 0.662);
	min-height: 10vh;
	width: 100%;
  }
  
  ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	text-decoration: none;
  }

a {
    color: #fbfbfb;
	text-decoration: none;
  }
