.Cards-List {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding-top: 20%;
  
  }

  .Spinner {
    display: flex;
    justify-content: center;
    margin: 40px;
  }
  